
@import "./utils/variables";
@import "./components/html";
@import "./components/header";
@import "./components/body";
@import "./components/titles";
@import "./components/our.team";
@import "./components/our.clients";
@import "./components/p";
@import "./components/features";

@import "./components/projects";
@import "./components/projects.filter";
@import "./components/footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}





ul {
    list-style: none;
}

.main-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
    linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/main_banner.jpg);
    text-align: center;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0%;
}

.to-order {
    
    display: inline-block; 
    background: var(--accent-link-color);
    padding: 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-background);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    min-width: 200px;
    margin-top: 30px;
}

.to-order:hover,
.to-order:focus {
    cursor: pointer;
}

/* ---- modal ------ */

.backdrop {

   transition-property: opacity;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    opacity: 1;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    display: inline-block;
    width: 530px;
    height: 590px;
    background-color: white;
    border-radius: 5px;
}

.close-modal {
    position: absolute;
    right: 8px;
    top: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;     
   
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}

.close-modal:hover {
   cursor: pointer;  
   fill: var(--accent-link-color);
}

.close-modal-svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 6px;
    right: 5px;
}

/* 
---- modal form ------ */

.form-modal {
    
    outline: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
} 

.form-input:focus ~ .modal-svg {
    fill: var(--accent-link-color);
}

.form-label + .form-input:focus {
    border-color: var(--accent-link-color);  

    cursor: pointer; 
}



.form-modal-title {
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-field {
    position: relative;
    outline: 1px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-field label {
     margin-bottom: 4px;
     font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
}

.comment-input {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-field input {
    padding-left: 40px;
}

.form-field textarea {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    height: 120px;
}

.form-field textarea::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
    font-weight: normal;
}

.checkbox-field {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    outline: 1px;
}

.checkbox-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox:checked + .checkbox-icon {
    background-color: var(--accent-link-color);
    border-color: var(--accent-link-color);
    background-image: url(../svg/icon\check\no\color.svg);
    background-size: contain;
    background-origin: border-box;
}

.checkbox {
    appearance: none;
    outline: none;
}

.checkbox-label a {
    margin-left: 2px;
    text-decoration: none;
    text-decoration: underline;
    color: var(--accent-link-color);
}


.button-modal {
    display: inline-block; 
    background: var(--accent-link-color);
    padding: 0; 
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF; 
    height: 50px;
    min-width: 200px;
}

.button-modal:hover {
    cursor: pointer;
}

.modal-svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 30px;
    margin-left: 10px;
    fill: #212121;
    vertical-align: middle;
}











