

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {    
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $h2-color;
    text-align: left;
    padding-bottom: 10px;
}

.feature-item::before {
    display: block;
    content: "";
    height: 120px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: $button-background;
    margin-bottom: 30px;
}

.antena::before {
    content: "";
    background-image: url(../svg/antenna.svg);
}

.clock::before {
    content: "";
    background-image: url(../svg/clock.svg);
}

.diagrama::before {
    content: "";
    background-image: url(../svg/diagram.svg);
}

.astronaut::before {
    content: "";
    background-image: url(../svg/astronaut.svg);
}

.list .feature-item + .feature-item{
    margin-left: 40px;
}


.project-item-link {
    text-decoration: none; 
    margin: 0px;
    padding: 0px;
    display: flex;
}

.project-thumb {
    position: relative;
}

.product-actions {
    position: absolute;
    width: 100%;
    bottom: 19px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white-background;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  }

  .project-thumb::before {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    opacity: 1; 
  }